---
import BaseLayout from '../layouts/BaseLayout.astro';
import Mascot from '../components/Mascot.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Collections from '../components/Collections.astro';
import Contact from '../components/Contact.astro';
import ScrollToTop from '../components/ScrollToTop.astro';
import Footer from '../components/Footer.astro';
---

<BaseLayout title="Silver Valley">
  <Mascot />
  <Header />
  <main id="main" class="main">
    <Hero />
    <About />
    <Collections />
    <Contact />
    <ScrollToTop />
  </main>
  <Footer />
</BaseLayout>
